.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gridmob{
  display:grid;
  grid-gap: 25px;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  justify-items: center;
  padding-top: 50px;
  margin-left: 10px;
}
@media screen and(max-width:768px) {
  .gridCol{
  grid-template-columns: repeat(1,1fr);
  }  
}
@media screen and (min-width:769px) {
  .gridCol{
  grid-template-columns: repeat(5,1fr);
  } 
}

.padAll{
padding: 10px;
}

button{
  color: blue;
  background-color: white;
  padding: 5px;
  border: 1px solid blue;
  border-radius: 4px;
}

.mrgTop{
  margin-top: 20px;
}
.flex{
  display: flex;
  flex-direction: column;
  width: 95vw;
  padding-left: 20px;
}
table{
  border: 1px solid gray;
  word-break: break-all;
}
p{
  color: red;
  font-size: small;
}